	<div th:include="/head.html"></div>
	<div id="page">
		<div id="pageHeader">
	        <p>当前位置：<span>表结构</span></p>
	    </div>
	    <div id="pageBody">
	        <div id="pageContent">
	        	<div id="modelBasePageContent">
		        	<div class="modelBaseContainer modelBaseWrapper">
		        		<div class="tableIcon"><i class="icon icon-cube-alt"> 列表</i></div>
		        		<div class="selfAdaptionLeft">
		        			<div>
			        			<div class="input-group">
			        				<input type="hidden"  id="ds" th:value="${ds}">
									<input type="hidden"  id="inter" th:value="${inter}">
									<input data-col="modelGroupName" type="text" class="form-control" name="tableName" id="tableName"
	                                       placeholder="表英文名">
	                                <ul class="dropdown-menu pull-right modelBaseGroupList"></ul>
								</div>
							</div>
		        		</div>
		        		<div class="selfAdaptionRight">
							<button type="button" class="btn btn-primary modelBaseSearch">查询</button>
							<button type="reset" class="btn btn-primary modelBaseSearch" >重置</button>
	                    </div>
	                    <div style="clear: both"></div>
	                    <div>
	                        <table id="modelBaseTable"></table>
	                    </div>
		        	</div>
	        	</div>
	        </div>
	    </div>
    </div>
</body>
<script src="/js/interface.js"></script>
</html>