	<div class="righthWrap">
		<!-- <div class="userWrap">
			<div class="userWrap">
				<div class="userShow">
					<div class="userIcon"><img alt="" src="/imgs/main/userIcon.png"/></div>
					<span id="userName" class="uname">admin</span>
				</div>
			</div>
		</div>
		<div class="exitSys" title="退出登录" >data-toggle="modal" data-target="#exitLogin"</div>
		系统菜单
		<div class="sysMenu dropdown">
			<i class="icon icon-bars" data-toggle="dropdown"></i>
			<ul id="sysMenuList" class="dropdown-menu pull-right">
				<li idx="1" data="/bonc/log"><a><img src="/imgs/mainNew/icon_rz.png"/>备用菜单</a></li>
			</ul>
		</div> -->
	</div>
	
	<!--提示消息弹框-->
	<div class="modal fade" id="msgAlertModal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!--弹框标题-->
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
	                    <span class="sr-only">关闭</span></button>
	                <h4 class="modal-title">提示</h4>
	            </div>
	            <!--提示消息-->
	            <div class="modal-body">
	                <span id="msgText"></span>
	            </div>
	            <!--操作按钮-->
	            <div class="modal-footer">
	                <button id="msgConfirm" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
	                <button id="msgCancel" type="button" class="btn btn-minor" data-dismiss="modal">取消</button>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="modal fade" id="loadAlert">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!--弹框标题-->
	            <div class="modal-header">
	            	正在加载中...用时较长请耐心等待
	            </div>
	        </div>
	    </div>
	</div>