<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>数据模型治理</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
   	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
   	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/plugin/zui1.8.1/css/zui.min.css?v=1.10.0" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
	
	<link href="/common/main.css" rel="stylesheet" /><!-- 左侧菜单 -->
	<link href="/common/common.css" rel="stylesheet" /><!-- 表格 -->
	<link href="/common/standard.css" rel="stylesheet" /><!-- 按钮 -->
	
	<!-- 流程图 -->
    <link href="css/flow.css" rel="stylesheet" type="text/css"  />
    
	
	<!-- 函数配置 -->
	<link rel="stylesheet" type="text/css" href="/z-UI2/z-UI.css"/>
    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI-alert/css/z-UI.alert.css"/>
    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI-tab/css/z-UI.tab.css"/>
    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI-select/css/z-UI.select.css"/>
    
    
    
    
	<script src="/plugin/jquery.js"></script>
	<script src="/plugin/flow.js"></script>
	<script src="/plugin/validator/dist/jquery.validator.js"></script>
	<script src="/plugin/validator/dist/local/zh-CN.js"></script>
	<!-- <script src="/plugin/DataTables/datatables.js"></script> -->
	<script src="/plugin/zui1.8.1/js/zui.js?v=1.10.0"></script>
	<script src="/plugin/zui1.8.1/lib/prettify/prettify.js?v=1.10.0"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="DataTables/datatables.min.js"></script>
	
	
	
	<script type="text/javascript" src="/z-UI2/z-UI.js"></script>
    <script type="text/javascript" src="/z-UI2/z-UI-alert/js/z-UI.alert.js"></script>
    <script type="text/javascript" src="/z-UI2/z-UI-tab/js/z-UI.tab.js"></script>
    <script type="text/javascript" src="/z-UI2/z-UI-select/js/z-UI.select.js"></script>
	
</head>
<body>
	<div class="head-fixed header">
		<!-- <img class="logoImg" src="/imgs/mainNew/icon_logo_new.png" alt="数据模型治理"/> -->
		<img class="logoImg" />
	</div>
	<!-- 左侧菜单 -->
	<div id="leftMenu">
		<div class="ctrlBtn"><i class="icon icon-bars"></i></div>
		<nav class="menu" data-ride="menu" style="width: 200px">
		  <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
		    <li class="open">
		      <a href="#"><i class="icon icon-tasks"></i>数据源</a>
		      <ul id="menusWrap"></ul>
		    </li>
		    <li class="open">
		      <a href="#"><i class="icon icon-th"></i>词根管理</a>
		      <ul id="dicWrap">
		        <li idx="table">
		          <a href="#" onclick="dicColModel.init()"><i class="icon icon-play-sign"></i>词根表管理</a>
		        </li>
		        <li idx="col"><a href="#"><i class="icon icon-play-sign"></i>词根字段管理</a></li>
		      </ul>
		    </li>
		    <li class="open">
		      <a href="#"><i class="icon icon-list-ul"></i>基础信息</a>
		      <ul id="baseWrap">
		      	<li idx="ds">
		          <a href="#"><i class="icon icon-ok-sign"></i>数据源登记</a>
		        </li>
		        <li idx="func">
		          <a href="#"><i class="icon icon-ok-sign"></i>公共函数登记</a>
		        </li>
		        <li idx="log">
		          <a href="#"><i class="icon icon-ok-sign"></i>日志查询</a>
		        </li>
		        <li idx="proc">
		          <a href="#"><i class="icon icon-ok-sign"></i>接口入库算法配置</a>
		        </li>
		        <li idx="info">
		          <a href="#"><i class="icon icon-ok-sign"></i>数据源信息查询</a>
		        </li>
		        <li idx="excel">
		          <a href="#"><i class="icon icon-ok-sign"></i>模版导出</a>
		        </li>
		      </ul>
		    </li>
		  </ul>
		</nav>
	</div>
	<!-- 主体内容 -->
	<div id="page">
		<div id="pageHeader">
	        <p>当前位置：<span></span></p>
	    </div>
	    <div id="pageBody">
	        <div id="pageContent">
	        	<div class="modelBaseContainer modelBaseWrapper">
	        		<!--Tab-->
	                <div class="tableIcon" id="tabContainer">
	                    <ul class="nav nav-tabs" id="authorityTab">
	                    	<li tab-id="0"><a data-toggle="tab">接口信息导入</a></li>
	                        <!-- <li tab-id="15"><a data-toggle="tab">数据源信息</a></li> -->
	                        <!-- <li tab-id="13"><a data-toggle="tab">配置说明</a></li> -->
<!--	                        <li tab-id="14"><a data-toggle="tab">接口信息导入</a></li>-->
	                        <!-- <li tab-id="10"><a data-toggle="tab">一键导入</a></li> -->
	                        <!-- <li tab-id="11"><a data-toggle="tab">接口信息下载</a></li> -->
	                        <!-- <li tab-id="1"><a data-toggle="tab">接口信息查看</a></li> -->
	                    </ul>
	                </div>
	              	
	              	<!-- 接口信息导入（首页） -->
					<div class="tab-content tab-import" id="historyContent">
						<div id="syContent">
							<div class="indexImport">
								<h1><b class="base_title" style="font-size: 16px;color:#02BABC"></b></h1>
								<h3 class="importH1">当前数据结构：结构化</h3>
								<h3 class="importH11">当前数据库：星环HIVE</h3><br/>
								<div class="importA" style="align:center">
									<div class="importB">
										<div class="importC"><img src="imgs/index/home.png">最新需求规范版本<br/><p id="shouye_version"></p></div>
									</div>
									<div class="importB">
										<div class="importC"><img src="imgs/index/home.png">接口总数<br/><p id="shouye_sum"></p></div>
									</div>
									<div class="importB">
										<div class="importC"><img src="imgs/index/home.png">新增接口个数<br/><p id="shouye_add"></p></div>
									</div>
									<div class="importB">
										<div class="importC"><img src="imgs/index/home.png">修改接口个数<br/><p id="shouye_edit"></p></div>
									</div>
									<div class="importB">
										<div class="importC"><img src="imgs/index/home.png">最后修改时间<br/><p id="shouye_date"></p></div>
									</div>
								</div>
								<div class="tableIcon" align="center" >
					        		<div class="row clearfix" style="width:100%">
										<div class="col-md-12 column">
											<div class="alert alert-dismissable alert-success">
												<h4>
													变更内容:以下接口部分字段阈值有更新
													<table id="msgTable" style="border-collapse:separate; border-spacing:0px 10px;">
														
													</table>
												</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="importD">
									<div class="importE">
										<h3>版本信息</h3>
									</div>
									<div class="importF">
										<a class="btn btn-primary" target="_blank" onclick="historyModel.yjdr()" >一键导入</a>
									</div>
								</div>
								<div style="clear: both"></div>
								<table id="historyTable" style="white-space:nowrap;"></table>
							</div>
						</div>
						<!-- 跑火车 -->
						<div id="importContent">
				            <div class="modal-body">
								<div class="model-content">
									<div class="head-btn">
										<button type="button" class="btn btn-primary"  style="float:right; margin-right:10px;" onclick="javascript:history.go(0)">返回</button>
									</div>
									<div class="main">
										<div class="row">
											<div class="col-md-12">
												<div class="flow">
													<div class="flowListBox"> </div>
												</div>
											</div>
											<div class="col-md-12" id="flowDiv">
												<ol id="iList">
													<div id="contX">
										                <div style="height:60px">
										               	</div>
										               	<div align="center" style="height:60px">
										               		<b class="base_title" style="font-size: 16px;color:#02BABC"></b>
										               	</div>
										               	<div style="font-size: 14px;height:150px" align="center">
										               		<table style="border-collapse:separate; border-spacing:0px 10px;">
										               			<tr>
										               				<td style="text-align:right">
									               						<b>数据结构:</b>
																    </td>
																    <td>
																    	<label class="radio-inline">
																    		结构化数据
																    		<!-- &nbsp;&nbsp;&nbsp;&nbsp;
																		    <input type="radio" name="radioOptionsExample" disabled checked> 结构化数据 -->
																		</label>
																		<label class="radio-inline">
																		  <!-- <input type="radio" name="radioOptionsExample" disabled> 非结构化数据 -->
																		</label>
																    </td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>数据库类型:</b>
										               				</td>
										               				<td style="text-align:left">
										               					
										               					<label class="radio-inline">
										               						星环HIVE
										               						<!-- <select class="form-control" style="width:200px" disabled>
																			  <option value="tdh">星环HIVE</option>
																			  <option value="td">TERADATA</option>
																			  <option value="mysql">MYSQL</option>
																			</select> -->
																		</label>
										               				</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>文件命名规则:</b>
										               				</td>
										               				<td style="text-align:left">
										               					<label class="radio-inline">
										               						[数据源机构编码]_[接口标识]_[版本号]_[数据日期]_[排批次号]_[增量/全量标识].[文件扩展名]
										               					</label>
										               				</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>示例:</b>
										               				</td>
										               				<td style="text-align:left">
										               					<label class="radio-inline">
										               						SSE_J0101_V01_20141105_0000_Z.CSV
										               					</label>
										               				</td>
										               			</tr>
										               		</table>
										              	</div>
									              	</div>
													<div class="contentList" id="contA">
														<div >
													        <div class="alert alert-inverse" style="width:200px;display:none" id="loadShow">正在导入，请稍等。。。</div>
													        <div class="row clearfix">
													            <div class="col-md-12 column">
													                <form id="form"  enctype="multipart/form-data">
													                	<input type=hidden id="batchNo" name="batchNo">
													                	<input type=hidden id="dataSrcAbbr" name="dataSrcAbbr">
																		<!--导入策略说明-->
																        <div class="modelImportStrategyInstruction" align="center">
																            <p style="color: #02BABC;">【导入策略说明】</p>
																            <p><b>选择文件-点击上传按钮,进行导入校验</b></p>
																            <p><b>反馈导入校验结果-点击下一步继续</b></p>
																            <p><b><font color=red>注：请上传扩展名为xlsx、xls文件</font></b></p>
																            <div class="form-group" align="center">
																				<input type="file" id="filename" class="file-list" name="filename" />
																			</div>
																			<div class="modelImportStrategyInstruction" align="center" style="display:none">
																				<p><font color=blue id="resultText"></font></p>
																			</div>
																	        <div class="form-group" align="center">
																	        	<a class="btn btn-primary btn-large uploader-btn-browse"  href="/interface/exportTable">模板下载</a>
	<!--																			<button type="button" class="btn btn-primary uploader-btn-browse" onclick="toTmpToSave.importExcel()"><i class="icon icon-cloud-upload"></i>上传</button>-->
																				<button type="button" class="btn btn-primary uploader-btn-browse" onclick="infoModel.importExcel()"><i class="icon icon-cloud-upload"></i>上传</button>
														                	</div>
																        </div>
													                </form>
													            </div>
													        </div>
													    </div>
													</div>
													<div class="contentList" id="contB">
														<!--Tab-->
									                    <div class="tableIcon" id="tabContainer2" style="height:20%">
									                        <ul class="nav nav-tabs" id="authorityTab2">
									                            <li tab-id="1"><a data-toggle="tab" >数据接口</a></li>
									                            <li tab-id="2"><a data-toggle="tab" >数据接口字段配置</a></li>
									                            <li tab-id="3"><a data-toggle="tab" >数据算法加载</a></li>
									                        </ul>
									                    </div>
									
									                    <!-- 数据接口 -->
									                    <div class="tab-content2" id="interfaceContent">
									                        <div style="clear: both"></div>
									                        <div>
									                            <table id="interfaceTable" style="white-space:nowrap;"></table>
									                        </div>
									                    </div>
									
									                    <!-- 字段配置标签内容 -->
									                    <div class="tab-content2" id="colContent">
									                        <div style="clear: both"></div>
									                        <div>
									                            <table id="columnTable" style="white-space:nowrap;"></table>
									                        </div>
									                    </div>
									
									                    <!-- 数据算法加载标签内容 -->
									                    <div class="tab-content2" id="procContent">
									                        <div style="clear: both"></div>
									                        <div>
									                            <table id="procTable" style="white-space:nowrap;"></table>
									                        </div>
									                    </div>
													</div>
													<div class="contentList" id="contC">
														<div class="container">
															<div>
																<div class="indexImport">
																	<h1><b class="base_title" style="font-size: 16px;color:#02BABC"></b></h1>
																	<h3 class="importH1">当前数据结构：结构化</h3>
																	<h3 class="importH11">当前数据库：星环HIVE</h3><br/>
																</div>
															</div>
														</div>
														<div id="compareContent" style="width:100%">
											        		<div class="tableIcon" align="center" >
												        		<div class="row clearfix" style="width:1200px">
												        			<div class="col-md-3 column">
												        			</div>
																	<div class="col-md-3 column">
																		<div class="alert alert-dismissable alert-success">
																			<h4>
																				接口变更信息
																			</h4> <strong>新增</strong> <font id="compare_intInsertNum"></font>个 <strong>修改</strong> <font id="compare_intUpdateNum"></font>个
																		</div>
																	</div>
																	<div class="col-md-3 column">
																		<div class="alert alert-dismissable alert-danger">
																			<h4>
																				接口字段变更信息
																			</h4> <strong>新增</strong> <font id="compare_colInsertNum"></font>个 <strong>修改</strong> <font id="compare_colUpdateNum"></font>个
																		</div>
																	</div>
																	<div class="tableIcon" align="center" >
														        		<div class="row clearfix" style="width:100%">
																			<div class="col-md-12 column">
																				<div class="alert alert-dismissable alert-normal">
																					<h4>
																						修订记录:
																						<font id="tmp"></font>
																					</h4>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
											        		<form class="navbar-form navbar-left" role="search" id="form" >
												        		<!-- <div class="selfAdaptionLeft">
												        			<div>
																		<div class="input-group">
																			<input data-col="dataSrcAbbr" type="hidden" class="form-control" id="compare_dataSrcAbbr"  placeholder="数据源">
																			<input data-col="dataInterfaceNo" type="text" class="form-control" id="compare_dataInterfaceNo"  placeholder="接口编号">
											                                <ul class="dropdown-menu pull-right modelBaseGroupList"></ul>
																		</div>
																	</div>
												        		</div> -->
												        		<div class="selfAdaptionRight">
																	<!-- <button type="button" class="btn btn-primary" onclick="compareModel.search()">查询</button>
																	<button type="reset" class="btn btn-primary" >
																	onclick='interfaceModel.init(localStorage.getItem("idx"))' 重置</button> -->
																	<!-- <button type="button" class="btn btn-primary btn-large" onclick="interfaceModel.add(1,this)">新增</button>
																	<a class="btn btn-primary" target="_blank" onclick="interfaceModel.importTable()">导入接口</a> -->
											                    </div>
										                    </form>
										                    <div style="clear: both"></div>
										                    <div>
										                        <table id="compareTable" style="white-space:nowrap;"></table>
										                    </div>
								                    	</div>
													</div>
													<div class="contentList" id="contD">
														<!-- 数据模型内容 -->
									                    <div id="dataModelContent">
											        		<!-- <div class="tableIcon">数据模型列表</i></div> -->
											        		<form class="navbar-form navbar-left" role="search" id="form" >
												        		<div class="selfAdaptionLeft">
												        			<!-- <div>
																		<div class="input-group">
																			<input data-col="dataSrcAbbr" type="hidden" class="form-control" id="model_dataSrcAbbr"  placeholder="数据源">
																			<input data-col="dataInterfaceNo" type="text" class="form-control" id="model_dataInterfaceNo"  placeholder="接口编号">
											                                <ul class="dropdown-menu pull-right modelBaseGroupList"></ul>
																		</div>
																	</div> -->
												        		</div>
												        		<div class="selfAdaptionRight">
												        			<!-- <button type="button" class="btn btn-primary" onclick="dataModelModel.search()">查询</button>
																	<button type="reset" class="btn btn-primary" >重置</button>
																	<button type="button" class="btn btn-primary" onclick="dataModelModel.createFile()">生成建表语句文件</button>
													            	<button type="button" class="btn btn-primary" onclick="dataModelModel.insertDb()">物化(创建)</button> -->
											                    </div>
										                    </form>
										                    <div style="clear: both"></div>
										                    <div>
										                        <table id="dataModelTable" style="white-space:nowrap;"></table>
										                    </div>
									                    </div>
													</div>
													<div class="contentList" id="contE">
														<div class="indexImport">
																<h1 class="importH1"><b class="base_title" style="font-size: 16px;color:#02BABC"></b></h1><br/>
														</div>
														<div style="font-size: 14px;height:150px" align="center">
										               		<table style="border-collapse:separate; border-spacing:0px 10px;">
										               			<tr>
										               				<td style="text-align:right">
									               						<b>数据结构:</b>
																    </td>
																    <td>结构化</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>数据库类型:</b>
										               				</td>
										               				<td style="text-align:left">星环HIVE</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>需求版本号:</b>
										               				</td>
										               				<td style="text-align:left">v1.1</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>导入流水号:</b>
										               				</td>
										               				<td style="text-align:left">v1.1.0</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right">
									               						<b>接口总数:</b>
										               				</td>
										               				<td style="text-align:left">1个</td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:left" colspan=2><font color="red">压缩文件包含所有导入接口的建表语句和回退语句:</font></td>
										               			</tr>
										               			<tr>
										               				<td style="text-align:right"  >
                                                                        <button type="button" class="btn btn-primary" onclick="dataModelModel.createFile()">生成建表语句文件</button>
																		<a class="btn btn-primary"  onclick="downloadFile()">下载</a>

<!--                                                                        <button type="button" class="btn btn-primary">下载</button>-->
										               				</td>
										               				<td style="text-align:left">
										               					<table style="border-collapse:separate; border-spacing:0px 10px;">
													               			<tr>
													               				<td style="text-align:right">
												               						<b>文件命名规则:</b>
																			    </td>
																			    <td>数据源缩写_DDL_导入流水号_端口个数.sql</td>
													               			</tr>
													               			<tr>
													               				<td style="text-align:right">
												               						<b>创建表语句:</b>
																			    </td>
																			    <td>SSE_DDL_110_1.sql<br>SSE_DML_110_1.sql</td>
													               			</tr>
													               			<tr>
													               				<td style="text-align:right">
												               						<b>回退语句:</b>
																			    </td>
																			    <td>SSE_DML_ROLLBACK_110_1.sql<br>SSE_DDL_ROLLBACK_110_1.sql</td>
													               			</tr>
												               			</table>
										               				</td>
										               			</tr>
										               		</table>
										              	</div>
													</div>
												</ol> 
											</div>
										</div>
									</div>
								</div>
							
								<div class="foot-btn">
									<button type="button" class="btn btn-primary"  style="float:right; margin-right:10px;" id="btnNext">下一步</button>
									<button type="button" class="btn btn-primary" style="float:right; margin-right:10px;" id="btnBack">上一步</button>
									<button type="button" class="btn btn-primary" style="float:right; margin-right:10px;" onclick="javascript:history.go(0)" id="btnok">完成</button>
								</div>
				            </div>
		                </div>
		                <!-- 火车图 -->
					</div>
	        	</div>
	        	<!-- 接口信息查看 -->
	        	<div class="tab-content" id="interShowContent">
	        		<nav class="menu" data-ride="menu" style="width: 200px">
					  <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
					    <li class="open">
					      <a href="#"><i class="icon icon-tasks"></i>接口</a>
					      <ul>
					        <li id="allInter">
					          <a href="#"><i class="icon icon-circle-blank"></i>已就绪</a>
					          <ul>
					            <li><a href="#">已取消</a></li>
					            <li><a href="#">已关闭</a></li>
					          </ul>
					        </li>
					        <li>
					          <a href="#"><i class="icon icon-circle-blank"></i>已就绪</a>
					          <ul>
					            <li><a href="#">已取消</a></li>
					            <li><a href="#">已关闭</a></li>
					          </ul>
					        </li>
					        <li class="active"><a href="#"><i class="icon icon-play-sign"></i>进行中</a></li>
					        <li><a href="#"><i class="icon icon-ok-sign"></i>已完成</a></li>
					      </ul>
					    </li>
					  </ul>
					</nav>
	        	</div>
	        	
	        	<!-- 词根表管理标签内容 -->
                <div class="tab-content" id="dicTableContent">
                	<!-- <div class="tableIcon">词根表管理</i></div> -->
                	<form class="navbar-form navbar-left" role="search"  >
                		<!-- <div class="selfAdaptionLeft">
                			<div class="input-group">
                				<input data-col="cname" type="text" class="form-control" placeholder="中文词根">

                			</div>
                		</div> -->
                		<div class="selfAdaptionRight">
                			<!-- <button type="button" class="btn btn-primary" onclick="dicTableModel.search()">查询</button>
							<button type="reset" class="btn btn-primary" >重置</button> -->
							<a class="btn btn-primary" target="_blank" onclick="dicTableModel.importDictionary()">导入词根</a>
               				<button type="button" class="btn btn-primary" onclick="dicTableModel.show(1,this)">新增</button>
	                 	</div>
	                 </form>
                    <div style="clear: both"></div>
                    <div>
                        <table id="dicTableTable" style="white-space:nowrap;"></table>
                    </div>
                </div>
	        	
	        	<!-- 词根字段管理标签内容 -->
                <div class="tab-content" id="dicColContent">
                	<!-- <div class="tableIcon">词根字段管理</i></div> -->
                	<form class="navbar-form navbar-left" role="search" >
                		<div class="selfAdaptionLeft">
                			<div class="input-group">
                				<!-- <input data-col="cname" type="text" class="form-control" placeholder="中文词根"> -->
                			</div>
                		</div>
                		<div class="selfAdaptionRight">
                			<!-- <button type="button" class="btn btn-primary" onclick="dicColModel.search()">查询</button>
							<button type="reset" class="btn btn-primary" >重置</button> -->
							<button type="button" class="btn btn-primary btn-large" onclick="dicColModel.show(1,this)">新增</button>
							<!-- <a class="btn btn-primary" target="_blank" onclick="dicColModel.importDictionary()">导入词根</a> -->
		                 </div>
	                </form>
                    <div style="clear: both"></div>
                    <div>
                        <table id="dicColTable" style="white-space:nowrap;"></table>
                    </div>
                </div>
                
                <!-- 数据源登记标签内容 -->
                <div class="tab-content" id="configDataSrc">
                	<!-- <div class="tableIcon">数据源登记</i></div> -->
                	<form class="navbar-form navbar-left" role="search" >
                		<div class="selfAdaptionLeft">
                			<div class="input-group">
                				<!-- <input data-col="dataSrcAbbr" type="text" class="form-control" placeholder="数据源" > -->
                			</div>
                		</div>
                		<div class="selfAdaptionRight">
                			<!-- <button type="button" class="btn btn-primary" onclick="dataSrcModel.search()">查询</button>
                			<button type="reset" class="btn btn-primary" onclick="dataSrcModel.init()">重置</button> -->
							<button type="button" class="btn btn-primary" onclick="dataSrcModel.add(1,this)">登记</button>
		                 </div>
	                 </form>
                    <div style="clear: both"></div>
                    <div>
                        <table id="dataSrcTable" style="white-space:nowrap;"></table>
                    </div>
                   </div>
                
                <!-- 函数登记标签内容 -->
                <div class="tab-content" id="funcContent">
                	<!-- <div class="tableIcon">函数登记</i></div> -->
                	<!--Tab-->
	                <div class="tableIcon">
	                    <ul class="nav nav-tabs" id="funcTab">
	                        <li tab-id="1"><a data-toggle="tab">目录扫描</a></li>
	                        <li tab-id="2"><a data-toggle="tab">文件预处理</a></li>
	                        <li tab-id="3"><a data-toggle="tab">数据加载算法登记</a></li>
	                    </ul>
	                </div>
                	<form class="navbar-form navbar-left" role="search" >
                		<div class="selfAdaptionLeft">
                			<div class="input-group">
                				<!-- <input data-col="funcName" type="text" class="form-control" placeholder="函数名"> -->
                			</div>
                		</div>
                		<div class="selfAdaptionRight">
                			<!-- <button type="button" class="btn btn-primary" onclick="funcModel.search()">查询</button>
							<button type="reset" class="btn btn-primary" >重置</button> -->
							<button type="button" class="btn btn-primary btn-large" id="addFunc" onclick="funcModel.add(1,this)">登记</button>
							<button type="button" class="btn btn-primary btn-large" id="addProc" onclick="funcModel.addProc(1,this)">登记</button>
		                 </div>
	                </form>
                    <div style="clear: both"></div>
                    <div>
                        <table id="funcTable" style="white-space:nowrap;"></table>
                    </div>
                </div>
                
                <!-- 日志查询标签内容 -->
                <div class="tab-content" id="logContent">
                	<!-- <div class="tableIcon">日志查询</i></div> -->
                	<form class="navbar-form navbar-left" role="search" >
                		<div class="selfAdaptionLeft">
                			<div class="input-group">
                				<!-- <input data-col="actionId" type="text" class="form-control" placeholder="日志id"> -->
                			</div>
                		</div>
                		<div class="selfAdaptionRight">
                			<!-- <button type="button" class="btn btn-primary" onclick="createSqlModel.search()">查询</button>
							<button type="reset" class="btn btn-primary" >重置</button> -->
		                 </div>
	                </form>
                    <div style="clear: both"></div>
                    <div>
                        <table id="logTable" style="white-space:nowrap;"></table>
                    </div>
                </div>
                <!-- 数据加载算法登记 -->
                <div class="tab-content" id="regProcContent">
                	<!-- <div class="tableIcon">接口入库算法配置</i></div> -->
                	<!-- onkeydown="if(event.keyCode=13)return false;" -->
                	<form class="navbar-form navbar-left" role="search" >
                		<div class="selfAdaptionRight">
							<button type="button" class="btn btn-primary btn-large" id="addProc" onclick="funcModel.addProc(1,this)">登记</button>
		                 </div>
	                </form>
                    <div style="clear: both"></div>
                    <div>
                        <table id="regProcTable" style="white-space:nowrap;"></table>
                    </div>
                </div>
                <div class="tab-content" id="dataSrcInfoContent">
                	<!-- <div class="tableIcon">数据源信息查询</i></div> -->
                	
                    <div style="clear: both"></div>
                    <div>
                        <table id="dataSrcInfoTable" style="white-space:nowrap;"></table>
                    </div>
                </div>
                <!-- 导出模版 -->
                <div class="tab-content" id="excelContent" >
                	<div class="indexBox" >
		                <div class="indexChildBoxWrapper">
		                    <div class="indexChildBox">
		                    	<img alt="" src="/imgs/index/icon_tjzb.png">
		                    	<a class="btn btn-minor indexBoxBtn"  href="/dic/exportDictionary">词根模版导出</a>
		                    </div>
		                    <div class="indexChildBox">
		                    	<img alt="" src="/imgs/index/icon_ggc.png">
		                    	<a class="btn btn-minor indexBoxBtn"  href="/interface/exportTable">接口模版导出</a>
		                    </div>
		                    <!-- <div class="indexChildBox">
		                    	<img alt="" src="/imgs/index/icon_tjzb.png">
		                    	<a class="btn btn-minor indexBoxBtn"  href="/col/exportCol">字段模版导出</a>
		                    </div>
		                    <div class="indexChildBox">
		                    	<img alt="" src="/imgs/index/icon_tjzb.png">
		                    	<a class="btn btn-minor indexBoxBtn"  href="/model/exportProc">数据加载算法模版导出</a>
		                    </div> -->
		                </div>
	            	</div>
                </div>
	        </div>
	    </div>
    </div>
    
    
    
    <!--数据源弹窗-->
    <div th:include="alertHtml/dataSourceAlert"></div>
    <!-- 接口 -->
    <div th:include="alertHtml/interfaceAlert"></div>
    <!-- 字段 -->
	<div th:include="alertHtml/columnAlert"></div>
	<!--模型各版本查看列表 弹框-->
	<div th:include="alertHtml/versionAlert"></div>
	<div th:include="alertHtml/trainAlert"></div>
	<div th:include="alertHtml/colVersionAlert"></div>
	<div th:include="alertHtml/procVersionAlert"></div>
	<!--字段查看列表 弹框-->
	<div th:include="alertHtml/detailAlert"></div>
	<!--物化 弹框-->
	<div th:include="alertHtml/modelAlert"></div>
	<div th:include="alertHtml/createSqlAlert"></div>
	<!-- 词根-表 -->
	<div th:include="alertHtml/dicTableAlert"></div>
	<!-- 词根-字段 -->
	<div th:include="alertHtml/dicColumnAlert"></div>
	<!-- 加载算法新增窗口 -->
	<div th:include="alertHtml/procAlert"></div>
	<!-- 函数登记-->
	<div th:include="alertHtml/funcAlert"></div>
	<!-- 公共-->
	<div th:include="common/common"></div>
</body>


<!-- 基础信息 -->
<script src="/js/common.js"></script>
<script src="/js/dictory.js"></script>
<script src="/js/dataSrc.js"></script>
<script src="/js/index.js"></script>
<script src="/js/func.js"></script>
<script src="/js/log.js"></script>
<script src="/js/createSql.js"></script>
<!-- 主流程 -->
<script src="/js/index.js"></script>
<script src="/js/history.js"></script>
<script src="/js/info.js"></script>
<script src="/js/compare.js"></script>
<script src="/js/detail.js"></script>
<script src="/js/model.js"></script>






<!-- <script src="/js/toTmpToSave.js"></script> -->
<!-- <script src="/js/interface_version.js"></script> -->
<!-- <script src="/js/column_version.js"></script> -->
<!-- <script src="/js/proc_version.js"></script> -->
<!-- <script src="/js/column.js"></script>
<script src="/js/interface.js"></script>
<script src="/js/proc.js"></script>-->
<!-- <script src="/js/interface_tmp.js"></script>
<script src="/js/column_tmp.js"></script>
<script src="/js/proc_tmp.js"></script> -->
<!-- <script src="/js/indexTmp.js"></script> -->
<!-- <script src="/js/train.js"></script> -->

</html>