<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>表入库模块</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<style type="text/css">
tr.focus{
    background-color:#eee;
}
</style>
</head>
<body onload="init()">
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				数据模型管理
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<form class="navbar-form navbar-left" role="search" id="form">
			<input type="hidden" name="ids" id="ids">
			<input type="hidden" name="pageSize" id="pageSize" value="10">
			<input type="hidden" name="pageNum" id="pageNum" value="1">
			<input type="hidden" name="totalSize" id="totalSize" value="">
			<div class="form-group">
				表英文名:<input type="text" class="form-control" name="tableName" id="tableName" />
			</div> 
			<button type="button" class="btn btn-primary btn-large" onclick="query()">查询</button>
			<button type="reset" class="btn btn-primary btn-large" >重置</button>
			<a class="btn btn-primary btn-large" target="_blank" onclick="importTable()">导入表结构</a>
			<a class="btn btn-primary btn-large" target="_blank" onclick="importDictionary()">导入词根</a>
			<button type="button" class="btn btn-primary btn-large" onclick="create()">物化</button> 
		</form>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered" id="table1">
				<thead>
					<tr class="info">
						<th>
							 全选&nbsp;<input type="checkbox" id="checkedAll"> 
						</th> 
						<th>
							序号
						</th>
						<th>
							表英文名
						</th>
						<th>
							表中文名
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody id="tbody"></tbody>
			</table>
			<ul class="pagination" id="page"></ul>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	/* $(document).ready(function () {
	    $("#table1>tbody>tr").on("click", function () {
	        //$(this).parent().find("tr.focus").toggleClass("focus");//取消原先选中行
	        $(this).toggleClass("focus");//设定当前行为选中行
	    });
	}); */
    
	function init(){
		query();
	}
	
	function importTable(){
		window.open("/bonc/table",'newwindow','height=400,width=800,top=400,left=400,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no'); 
	}
	
	function importDictionary(){
		window.open("/bonc/dictionary",'newwindow','height=400,width=800,top=400,left=400,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no'); 
	}
	
	function query(){
		var obj = new Object();
		obj.pageSize=$("#pageSize").val();
		obj.pageNum=$("#pageNum").val();
		obj.table_ename = $("#tableName").val();
		var json = JSON.stringify(obj);
		console.log("ajax send: "+json);
		
		$.ajax({
			url:"/bonc/findPage",
			type:"post",
			data:json,
			contentType:"application/json;charset=UTF-8",
			success: function(result){
				console.log("ajax recieve: ");
				console.log(result);
				var data = result.content;
				var html = "";
				for(var i in data){
					var obj = data[i];
					html += '<tr>';
					html += '<td width="7%"><input type="checkbox" id="'+obj.tableEname+'" name="items"></td>';
					html += '<td width="7%">'+(parseInt(i)+1)+'</td>';
					html += '<td>'+obj.tableEname+'</td>';
					html += '<td>'+obj.tableCname+'</td>';
					html += '<td><a href="/bonc/detail?tableName='+obj.tableEname+'" target="_blank">查看字段</a></td>';
					html += '</tr>';
				}
				$("#tbody").html(html);
				setPage(result);
			}
		})
		
		$("#checkedAll").prop("checked", false );
	}
	
	function create(){
		
		  var ids = [ ];
	      var chkBoxes = $('#tbody').find('input:checked');
	      if (chkBoxes.length == 0) {
	          alert('请至少选择一条记录');
	          return false;
	      }
	      $(chkBoxes).each(function() {
	        ids.push($(this).attr('id'));
	      });
	      console.log(ids);
	      var json =JSON.stringify(ids);
	      $("#ids").val(json);
	      form.action = '/bonc/createSqlPage';
		  form.submit();
	}
	
	$("#checkedAll").click(function(){
		var checked =$(this).prop("checked")
		console.log(checked)
		$('[name=items]:checkbox').prop("checked", checked ); //所有checkbox跟着全选的checkbox走。
	});
	
</script>
</html>