	<div class="modal fade" id="createSqlAlert">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!--弹框标题-->
	            <div class="modal-header">
	                <h4 class="modal-title"><span id="versionTable_title"></span>表结构入库</h4>
	            </div>
	            <!-- <form>
	            	<input  col-name="ds" type="hidden" class="form-control" >
	            	<input  col-name="ids" type="hidden" class="form-control" >
	            </form>
	            模型版本列表
	            <div class="modal-body">
	                <div style="clear: both"></div>
	                <div>
	                    <table id="createSqlTable"></table>
	                </div>
	            </div> -->
	           	<!--  选择要导入的数据库:
				<select name="dbType" id="dbType" >
					<option value="tdh" selected>tdh</option>
					<option value="td">td</option>
					<option value="mysql">mysql</option>
				</select>
	            操作按钮
	            <div class="modal-footer">
	            	<button type="button" class="btn btn-primary" onclick="createSqlModel.createSqlSave()">创建sql语句</button>
	            	<button type="button" class="btn btn-primary" onclick="createSqlModel.createFile()">创建sql文件</button>
	            	<button type="button" class="btn btn-primary" onclick="createSqlModel.insertDb()">建表sql入库</button>
	                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
	            </div> -->
	            <div class="jumbotron" >
					<p id="pText"></p>
				</div>
	        </div>
	    </div>
	</div>