<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一键导入excel文件</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/plugin/DataTables/datatables.min.css" rel="stylesheet">
    <link href="/plugin/zui1.8.1/css/zui.min.css" rel="stylesheet"/>
    <!--<link href="/common/main.css" rel="stylesheet" />&lt;!&ndash; 左侧菜单 &ndash;&gt;-->
    <link href="/common/common.css" rel="stylesheet" /><!-- 表格 -->
    <link href="/common/standard.css" rel="stylesheet" /><!-- 按钮 -->
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="/plugin/jquery.js"></script>
    <script src="/plugin/validator/dist/jquery.validator.js"></script>
    <script src="/plugin/validator/dist/local/zh-CN.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/plugin/DataTables/datatables.js"></script>
    <script src="/plugin/zui1.8.1/js/zui.js"></script>
    <script src="/plugin/echarts.js"></script>


    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI.css"/>
    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI-alert/css/z-UI.alert.css"/>
    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI-tab/css/z-UI.tab.css"/>
    <link rel="stylesheet" type="text/css" href="/z-UI2/z-UI-select/css/z-UI.select.css"/>
    <script type="text/javascript" src="/z-UI2/z-UI.js"></script>
    <script type="text/javascript" src="/z-UI2/z-UI-alert/js/z-UI.alert.js"></script>
    <script type="text/javascript" src="/z-UI2/z-UI-tab/js/z-UI.tab.js"></script>
    <script type="text/javascript" src="/z-UI2/z-UI-select/js/z-UI.select.js"></script>

    <style>
        input{border:1px solid #000;}
        .clear{clear:both;}
        .ehdel_upload_show input{float:left; margin-top:10px;}
        .ehdel_upload{float:left;margin-top:-20px; *margin-top:-40px; filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
    </style>
</head>

<body>

    <div >
        <div class="alert alert-inverse" style="width:200px;display:none" id="loadShow">正在导入，请稍等。。。</div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form id="form"  enctype="multipart/form-data">
                    <input type=hidden id="batchNo" name="batchNo">
                    <span  style="font-family: PingFangSC-Medium;font-size: 18px;color: #333333;width: 167px;height: 25px">选择EXCEL接口文件  </span>
                    <div class="ehdel_upload_show">
                        <input id="ehdel_upload_text" type="text" name="txt" />
                        <input id="ehdel_upload_btn" type="button" style="background-color: #1890FF;font-size: 12px;color: white;border-radius: 4px;" value="选择文件" />
                    </div>
                    <div class="clear"></div>
                    <input id="filename" type="file" name="filename" onchange="ehdel_upload_text.value=this.value" class="ehdel_upload" />
                    <a class="btn btn-primary btn-large" style="font-size: 12px;background: #1890FF;border-radius: 4px;" href="/interface/exportTable">模板下载</a>
                    <p style="padding-left: 170px;font-family: PingFangSC-Regular;font-size: 14px;color: #E34747;">注：请上传扩展名为xlsx、xls文件</p>
                    <button type="button" class="btn btn-primary btn-large " style="position:relative;left:300px;top:400px" onclick="importExcel()" >下一步</button>

                </form>

            </div>
        </div>
    </div>


    <div th:include="alertHtml/versionAlert"></div>

</body>

<script src="/js/toTmpToSave.js"></script>
<script src="/js/infoImportTmp.js"></script>
<!--<script src="/js/interface_tmp.js"></script>-->
<script src="/js/interface_version.js"></script>
<!--<script src="/js/column_tmp.js"></script>-->
<script src="/js/column_version.js"></script>
<!--<script src="/js/proc_tmp.js"></script>-->
<script src="/js/proc_version.js"></script>
<script src="/js/common.js"></script>

</html>